.color {
  border: solid black 1px;
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 100%;
  margin-left: 20px;
}

#color-palette {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

  body {
    background-image: url('https://s2-techtudo.glbimg.com/1o2J-rf2G9qtlQlm82gaq-mFBec=/0x129:1024x952/924x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_08fbf48bc0524877943fe86e43087e7a/internal_photos/bs/2023/7/i/ME2AxRRoygUyFPCDe0jQ/3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.2); /* Aqui, o último valor (0.5) define a opacidade da cor de fundo */
  }

#button-random-color {
  border-radius: 15px;
  padding: 10px;
  font-family: monospace;
  background-color: rgb(11, 196, 186);
  box-shadow: 1px 1px;
  color: white;
}

#clear-board {
  border-radius: 15px;
  padding: 10px;
  font-family: monospace;
  background-color: rgb(11, 196, 186);
  box-shadow: 1px 1px;
  color: white;
  margin-top: 10px;
}

#pixel-board {
  margin-top: 40px;
}

.bloco {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.linha {
  display: flex;
}

.pixel {
  border: solid black 1px;
  width: 40px;
  height: 40px;
  background-color: white;
  display: inline-block;
}

#title {
  text-align: center;
}

.botao {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: rgb(218, 245, 248);
}

footer {
  text-align: center;
  margin-top: 100px;
}
